:root {
  --alert-success-text: red;
  --alert-success-background: green;
  --alert-success-border: green;
  --alert-danger-text: green;
  --alert-danger-background: red;
  --alert-danger-border: red;
}

* {
  box-sizing: border-box;
}

body {
  margin: 2px;
  font-family: "Bangers", cursive;
  line-height: 1.4;
  font-size: 10px;
  color: yellow;
  text-shadow: 2px 2px 4px black;
}

h1 {
  color: red;
}

.header {
  color: yellow;
  font-size: 1.4rem;
  background-color: black;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-item {
  padding: 2rem;
  color: yellow
}

.nav-item a {
  background-color: yellow;
  cursor: pointer;
  color:red;
}

.nav-item a:hover {
  background-color: red;
  cursor: pointer;
  color:yellow;
}

.main {
  font-size: 1rem;
  background-image: url(/assets/images/batman-background-quiz.jpeg);
  background-size: contain;
  margin: 0;
  display: block;
  display: flex;
}

.container {
  margin: 0 2rem;
  padding: 4rem;  
}

.start-container {
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: 400;
}

.btn {
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  font-weight: 600;
  background-color: yellow;
  border-style: solid;
  color: red;
}

.btn:hover {
  background-color: yellow;
  cursor: pointer;
  color: red;
}

.question-container {
  text-align: center;
}

.question {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

.options-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 2rem;
}

.option-item {
  margin: 1rem 0;
  padding: 1rem;
  background-color: red;
  color: yellow;
  border-color: black;
  border-radius: 0.2rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.option-item:hover {
  background-color:yellow;
  cursor: pointer;
  color: red;
}

.answer-alert {
  position: relative;
  padding: 1rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.answer-alert-success {
  color: var(--alerdisplay: flex;
  flex-direction: row;
  justify-content: space-between;
};
  background-color: var(--alert-success-background);
  border-color: var(--alert-success-border);
}

.answer-alert-danger {
  color: var(--alert-danger-text);
  background-color: var(--alert-danger-background);
  border-color: var(--alert-danger-border);
}

.score-form {
  text-align: center;
  background-color:yellow;
  color: red;
  margin-top: 4rem;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-item {
  margin: 1rem 0;
}

.form-item input {
  padding: 1rem 0.5rem;
  font-size: 4rem;
  width: 75%;
}

.game-over {
  text-align: center;
  background-color: yellow;
  margin-top: 4rem;
  color: red;
}

@media screen and (max-width: 576px) {
  .nav-container {
    flex-direction: column;
    align-items: center;
  }

  .container {
    margin: 4rem 1rem;
    padding: 2rem;
  }

  .form-item input {
    width: 100%;
  }
}
